{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe -
	{{parent()}}
{% endblock %}

{% block body %}

	<div class="container">

		<div class="row">
			<h1 class="text-center my-5">Modification mot de passe</h1>
			<div class="col-md-5 m-auto">


				{{ form_start(form) }}
				{{ form_widget(form) }}
				<div class="d-grid gap-2 col-6 mx-auto">
					<button type="submit" class="btn btn-success rounded">Valider</button>
				</div>
				{{ form_end(form) }}


			</div>
		</div>
	</div>


{% endblock %}
