{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
{% endblock %}

{% block body %}


	<div class="container mt-5">
		<h1>Bienvenue sur notre site de location de maison</h1>
		<p>Nous offrons des maisons de qualité à des prix compétitifs.</p>
		<a href="#" class="btn btn-primary">Maisons disponibles</a>
	</div>

	<div class="container mt-5">
		<h2>Nos maisons</h2>
		<div class="row">
			<div class="col-md-4 mt-3">
				<div class="card">
					<img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
					<div class="card-body">
						<h4 class="card-title">Maison 1</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sagittis velit. Sed sit amet magna vitae orci vehicula consequat. Nulla volutpat, mauris ac venenatis semper, enim nisi dapibus dolor, vel laoreet odio mauris eu eros.
						</p>
						<a href="#" class="btn btn-primary">Voir plus</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mt-3">
				<div class="card">
					<img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
					<div class="card-body">
						<h4 class="card-title">Maison 2</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sagittis velit. Sed sit amet magna vitae orci vehicula consequat. Nulla volutpat, mauris ac venenatis semper, enim nisi dapibus dolor, vel laoreet odio mauris eu eros.
						</p>
						<a href="#" class="btn btn-primary">Voir plus</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mt-3">
				<div class="card">
					<img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
					<div class="card-body">
						<h4 class="card-title">Maison 2</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sagittis velit. Sed sit amet magna vitae orci vehicula consequat. Nulla volutpat, mauris ac venenatis semper, enim nisi dapibus dolor, vel laoreet odio mauris eu eros.
						</p>
						<a href="#" class="btn btn-primary">Voir plus</a>
					</div>
				</div>
			</div>
        </div>


		{% endblock %}

{% block javascripts %}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}