<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Sym R Bnb
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<script src="https://kit.fontawesome.com/ec70832a53.js" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>
	<body>
		{% include "_partials/nav.html.twig" %}
		{# Affichage des messages flash #}
		{% include "_partials/alert.html.twig" %}
		{% block body %}{% endblock %}

		{% include "_partials/footer.html.twig" %}


		<script src="/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/js/main.js"></script>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
