<form method="post" action="{{ path('app_ad_delete', {'id': ad.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette annonce ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ad.id) }}">
    <button class="btn">Supprimer</button>
</form>
